@tailwind base;
@tailwind components;
@tailwind utilities;



@import "@/styles/utils.scss";
@import "@/styles/holding.scss";

:root {
  --bg-color: rgb(253, 253, 253); // Light background
  --text-color: black;            // Light text
}

[data-theme="dark"] {
  --bg-color: black;              // Dark background
  --text-color: white;            // Dark text
}

html {
  scroll-behavior: smooth;
  user-select: none;
}
img {
  -webkit-user-drag: none;
}

// Additional global styles based on themes
body {
  @apply transition-colors duration-300; // Smooth transition
  overflow: hidden;
  background-color: var(--bg-color);
}

html{
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--bg-color);
}

.bg-black{
  background-color: black;
}

.bg-white{
  background-color: rgb(253, 253, 253);
}





/* coming soon text */
@keyframes fadeInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

.fade-in {
  animation: fadeInUp 1.5s linear forwards;
}

.fade-out {
  animation: fadeOutDown 1.5s linear forwards;
}


@keyframes slideUp {
  0% {
    transform: translateY(100px); /* Start 100px below */
    opacity: 0; /* Start hidden */
  }
  100% {
    transform: translateY(0); /* End at original position */
    opacity: 1; /* End visible */
  }
}

.animate {
  animation: slideUp 0.8s forwards; /* Use the slideUp animation */
}



// // Emoji Slight Movement animation
// @keyframes diagonalMove {
//   0% {
//     transform: translate(0, 0);
//   }
//   25% {
//     transform: translate(50px, 50px);
//   }
//   50% {
//     transform: translate(0, 100px);
//   }
//   75% {
//     transform: translate(-50px, 50px);
//   }
//   100% {
//     transform: translate(0, 0);
//   }
// }

// .emoji {
//   animation: diagonalMove 5s infinite; /* Duration and infinite loop */
// }





